@model IEnumerable<Asp.NetMVCcrud.Models.employee>
@{
    ViewBag.Title = "Eployee List";
}


    <!DOCTYPE HTML>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <style>
            span.field-validation-error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div style="width:90%; margin:0 auto" class="tablecontainer">
            <a class="popup btn btn-primary" href="/Employee/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>
           
            
            
             <table id="myDatatable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office ID</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                    <td>
                        @item.name                        
                    </td>
                        <td>
                            @item.position
                        </td>

                        <td>
                            @item.office
                        </td>

                        <td>
                            @item.age
                        </td>
                        <td>
                            @item.salary
                        </td>

                        <td>
                          Edit
                        </td>

                        <td>
                           Delete
                        </td>

                        </tr>
                }




            </table>
        </div>
<!--
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


        <script>
            $(document).ready(function () {
                var oTable = $('#myDatatable').DataTable({
                    "ajax": {
                        "url": '/Employee/GetData',
                        "type": "GET",
                        "datatype": "JSON"
                    },
                    "columns": [
                        { "data": "Name", "autoWidth": true },
                        { "data": "Position ", "autoWidth": true },
                        { "data": "Office", "autoWidth": true },
                        { "data": "Age", "autoWidth": true },
                        { "data": "Salary", "autoWidth": true },
                        {
                            "data": "EmployeeID", "width": "50px", "render": function (data) {
                                return '<a class="popup" href="/home/save/' + data + '">Edit</a>';
                            }
                        },
                        {
                            "data": "EmployeeID", "width": "50px", "render": function (data) {
                                return '<a class="popup" href="/home/delete/' + data + '">Delete</a>';
                            }
                        }
                    ]
                })
                $('.tablecontainer').on('click', 'a.popup', function (e) {
                    e.preventDefault();
                    OpenPopup($(this).attr('href'));
                })
                function OpenPopup(pageUrl) {
                    var $pageContent = $('<div/>');
                    $pageContent.load(pageUrl, function () {
                        $('#popupForm', $pageContent).removeData('validator');
                        $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse('form');

                    });

                    $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                              .html($pageContent)
                              .dialog({
                                  draggable: false,
                                  autoOpen: false,
                                  resizable: false,
                                  model: true,
                                  title: 'Popup Dialog',
                                  height: 550,
                                  width: 600,
                                  close: function () {
                                      $dialog.dialog('destroy').remove();
                                  }
                              })

                    $('.popupWindow').on('submit', '#popupForm', function (e) {
                        var url = $('#popupForm')[0].action;
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $('#popupForm').serialize(),
                            success: function (data) {
                                if (data.status) {
                                    $dialog.dialog('close');
                                    oTable.ajax.reload();
                                }
                            }
                        })

                        e.preventDefault();
                    })
                    $dialog.dialog('open');
                }
            })
        </script>
   
    -->
    
    
    </body>
</html>



